@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
body{
  width: 60%;
  margin: auto;
}

html {
  background: url(../src/assests/images/background.jpg) center center fixed;
  background-size: cover;
}
.App {
  text-align: center;
}